<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
  <a [routerLink]="['/lobby']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">LOBBY</a>
  <a [routerLink]="['/game-page']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">IN GAME</a>

</nav>
