<div class="row">
  <div class="col-md-6 col-xs-12">
    <md-card>
      <md-card-title class="card-title">
        <h2>Lobby</h2>
      </md-card-title>
      <md-card-content>
        <form novalidate [formGroup]="playerInfoForm" (ngSubmit)="submitForm()">
          <div class="row">
            <div class="col-xs-6">
              <md-input-container>
                <input md-input id="name-input" placeholder="Name" formControlName="name">
              </md-input-container>
            </div>
            <div class="col-xs-6">
              <md-slide-toggle
                  color="primary"
                  formControlName="isReady"
                  [disabled]="!playerInfoForm.valid"
                  (change)="submitForm()">
                Ready?
              </md-slide-toggle>
            </div>
          </div>

        </form>
      </md-card-content>
    </md-card>
  </div>
  <div class="col-md-6 col-xs-12">
    <md-card>
      <md-card-title>
        <h2>Players Detected</h2>
      </md-card-title>

      <md-card-content>
        <div id="player-list-container">
          <div class="row">
            <div class="col-xs-7 col-md-7">
              <label for="player-name">Name</label>
            </div>
            <!-- Party Leader Icon, if applicable -->
            <div class="col-xs-5">
              <label for="ready-status">Ready?</label>
            </div>
          </div>

          <div *ngFor="let player of playersList">
            <div *ngIf="player.isActive" class="row">
              <!--<div class="col-md-12"></div>-->
              <div class="col-xs-7 " [ngClass]="{'party-leader':player.isLeader}">
                <p> {{player.name}} </p>
              </div>

              <div class="col-xs-5 ">
                <div *ngIf="player.isReady" class="ready-indicator-container">
                  <i id="ready-status" class="fa fa-check fa-fw"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currPlayer && currPlayer.isLeader">
          <button type="button" class="btn btn-success m-t-5" ngClass="{'disabled':!allPlayersReady}"
                  [disabled]="!allPlayersReady" (click)="launchGame()">Start</button>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>

