@import '../../css/inc/variables';

:host {
  display: block;
  padding: 0 16px;
}

img.location-image {
  /*  @media screen and (min-width: 721px) {
      height: auto;
      width: 75%;
    }*/
}

md-card.location-card {
  padding-bottom: $card-padding-bottom + 33.6px;
  padding-top: 0px;

  md-card-title {
    //color: white;
    position: absolute;
    bottom: 0px;
    padding-top: 24px;
  }

  @media screen and (min-width: 721px) {
    width: 400px;
  }

  md-card-footer {
    //padding-left: 12px;
    padding: $card-padding-sides;

    bottom: $card-padding-bottom; //bottom offset, already absolute

    h2 {
      font-size: 20px;
      font-weight: 400;
      margin-top: 12px;
      margin-bottom: 0px;
    }

    small.role {
      padding-left: 12px;
      //margin: 0px;
      //position: absolute;
      //right: $card-padding-right;
      //top: 0px;
    }
  }
}

.spy-card {
  @extend md-card.location-card;

  .btn-location-list{
    position: absolute;
    right: $card-padding-right;
    bottom: 0px;
  }
}

